
/* Global */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
body {
  background-color: 00000;
}

/* header */

#header-container {
  background-color: rgb(237, 244, 236);
  margin: 0;
  padding: 2rem;
  padding-left: 5rem;
}

#header-title {
  color: #4ea3c6;
  font-size: 75px;
  display: inline-block;
  justify-self: center;
}

#wallet-icon {
  display: inline-block;
  width: 75px;
  height: 75px;
}

/* wallet list */

#wallet-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.item-header {
  padding-top: rem;
  font-size: 2rem;
  font-weight: bold;
  color: #4ea3c6;
  margin-bottom: 1rem;
}

#items {
  font-weight: 700;
  font-size: 20px;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.25rem;
  background-color: rgb(237, 244, 236);
  border-style: 1px solid #4ea3c6;
  color: #4ea3c6;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 14rem;
}

#item-list {
  text-align: center;
  padding-right: 20rem;
  padding-top: 1rem;
}

#item-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
  color: #4ea3c6;
}

#image-detail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

#delete {
  width: 1.5%;
  margin-left: 8.5rem;
  margin-top: 2.2rem;
  display: block;
  position: absolute;
}

.wallet-and-button {
  display: flex;
  justify-content: center;
}


/* //form// */

#form-div {
  background-color: rgb(237, 244, 236);
  color: #4ea3c6;
  justify-content: center;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  /* box-sizing: border-box; */
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

#form-title {
  text-align: center;
  font-size: 1.75rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#form-subtitle {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.mouse {
  font-size: 20px;
  color: rgb(168, 169, 173);
  text-align: center;
}

input {
  border: none;
  background: white(0 0% 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
}

#submit {
  background-color: #4ea3c6;
  color: white;
  box-shadow: 0 0.75rem 0.5rem -0.5rem #4ea3c6(0 50% 80%);
  margin: 2rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 20px;
}

.input-form {
  margin: 2rem;
  font-size: 15px;
  font-family: Helvetica;
  color: #4ea3c6;
}

/* //footer // */

.footer {
  background-color: rgb(237, 244, 236);
  padding: 1rem;
  font-size: 16px;
  font-family: helvetica;
  color: #4ea3c6;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-right: 2rem;
}

.footer__socials {
  display: inline-block;
  margin-left: 4rem;
  margin-right: 6em;
  text-align: left;
}

.footer__icons {
  width: 1.5rem;
  margin-left: 2rem;
  padding-top: 1rem;
}
